/*
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 02 COLOURS

Primary: #70baff

- Tints: #b1ddf9
- Shades: #53aff4 #1e7cff
- Accent:
- Greys: #555 #333

-- 05 SHADOWS

-- 06 BORDER RADIUS

Default: 9px

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/***************************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************************/

.heading-primary,
.heading-secondary,
.heading-third {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-third {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #1e7cff;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-full:link,
.btn-full:visited {
  color: #333;
  background-color: #70baff;
}

.btn-full:hover,
.btn-full:active {
  color: #333;
  background-color: #53aff4;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #b1ddf9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  padding: 0 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-gap {
  gap: 9.6rem;
}

.half {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-bord {
  box-shadow: inset -1rem 0 #53aff4;
}

.left-bord {
  box-shadow: inset 1rem 0 #53aff4;
}
